node_red_data/.flows.json.backup
[
    {
        "id": "048a54a5fe2acbd7",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c81e719f432c190e",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f5d335cee05e155f",
        "type": "socketio-config",
        "uri": "wss://mqtt-parser.omnivoltaic.com",
        "options": "{ \"forceNew\": true }"
    },
    {
        "id": "e02efec82eddcb99",
        "type": "socket.io-instance",
        "name": "wss://mqtt-parser.omnivoltaic.com",
        "bindToNode": false,
        "port": "3000",
        "options": ""
    },
    {
        "id": "7acfbe08bc9301c5",
        "type": "websocket-client",
        "path": "wss://mqtt-parser.omnivoltaic.com",
        "tls": "",
        "wholemsg": "false",
        "hb": "0",
        "subprotocol": ""
    },
    {
        "id": "0175ac081941797b",
        "type": "websocket-client",
        "path": "localhost:8022",
        "tls": "",
        "wholemsg": "false",
        "hb": "0",
        "subprotocol": ""
    },
    {
        "id": "6e59bbea2d6413dc",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt-factory.omnivoltaic.com",
        "port": "18883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ab27e2db54fdc520",
        "type": "debug",
        "z": "048a54a5fe2acbd7",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 140,
        "wires": []
    },
    {
        "id": "875331833f93a8d4",
        "type": "websocket out",
        "z": "048a54a5fe2acbd7",
        "name": "",
        "server": "",
        "client": "7acfbe08bc9301c5",
        "x": 730,
        "y": 240,
        "wires": []
    },
    {
        "id": "aebfd238fa41a1f9",
        "type": "websocket in",
        "z": "048a54a5fe2acbd7",
        "name": "",
        "server": "",
        "client": "7acfbe08bc9301c5",
        "x": 250,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "07a1c891b8d0bf2a",
        "type": "socketio-listener",
        "z": "048a54a5fe2acbd7",
        "server": "f5d335cee05e155f",
        "eventname": "message",
        "name": "",
        "x": 200,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "7f3d85a9e3533faa",
        "type": "inject",
        "z": "048a54a5fe2acbd7",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "payload": "{\"att\":{\"opid\":\"42AH2302000002\",\"ppid\":\"42AH2302000002<<<<<<\",\"flid\":\"\",\"frmv\":\"3.3.3\"}}",
        "payloadType": "json",
        "x": 150,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "7df9b950108f0f27",
        "type": "websocket out",
        "z": "048a54a5fe2acbd7",
        "name": "",
        "server": "",
        "client": "0175ac081941797b",
        "x": 710,
        "y": 420,
        "wires": []
    },
    {
        "id": "ed99017484befa22",
        "type": "websocket in",
        "z": "048a54a5fe2acbd7",
        "name": "",
        "server": "",
        "client": "0175ac081941797b",
        "x": 230,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "fe5f75ca81c2152b",
        "type": "tcp out",
        "z": "c81e719f432c190e",
        "name": "",
        "host": "3.66.17.65",
        "port": "8081",
        "beserver": "client",
        "base64": false,
        "end": false,
        "tls": "",
        "x": 500,
        "y": 320,
        "wires": []
    },
    {
        "id": "9f01ee65cc408d0c",
        "type": "inject",
        "z": "c81e719f432c190e",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "{\t   \"alarmList\":[\t       {\t           \"id\":\"02301001\",\t           \"alarmDesc\":\"03\",\t           \"alarmFlag\":0,\t           \"doorId\":\"11\",\t           \"userId\":\"rtwertrtr\",\t           \"batteryId\":\"BT2060020080FLT190728039\",\t           \"alarmTime\":1567601515000+$floor($random()*10)\t       }\t   ],\t   \"msgType\":410,\t   \"devId\":\"CHZD12BTA0190704006\",\t   \"txnNo\":1567601515107\t}",
        "payloadType": "str",
        "x": 150,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "543cf92f6fe00756",
        "type": "inject",
        "z": "c81e719f432c190e",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"alarmList\":[{\"id\":\"02301001\",\"alarmDesc\":\"03\",\"alarmFlag\":0,\"doorId\":\"11\",\"userId\":\"rtwertrtr\",\"batteryId\":\"BT2060020080FLT190728039\",\"alarmTime\":1567601515107}],\"msgType\":410,\"devId\":\"CHZD12BTA0190704006\",\"txnNo\":1567601515107}",
        "payloadType": "str",
        "x": 170,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "c7cb1516d4265afa",
        "type": "mqtt out",
        "z": "c81e719f432c190e",
        "name": "",
        "topic": "cmd/oves",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6e59bbea2d6413dc",
        "x": 460,
        "y": 80,
        "wires": []
    },
    {
        "id": "bbec47beebd09eb0",
        "type": "tcp in",
        "z": "c81e719f432c190e",
        "name": "",
        "server": "client",
        "host": "3.66.17.65",
        "port": "8081",
        "datamode": "single",
        "datatype": "buffer",
        "newline": "",
        "topic": "",
        "trim": false,
        "base64": false,
        "tls": "",
        "x": 170,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "e2ad32518353e91c",
        "type": "mqtt out",
        "z": "c81e719f432c190e",
        "name": "",
        "topic": "dt/oves",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6e59bbea2d6413dc",
        "x": 600,
        "y": 200,
        "wires": []
    },
    {
        "id": "e0d92db13b954496",
        "type": "mqtt in",
        "z": "c81e719f432c190e",
        "name": "",
        "topic": "cmd/oves",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6e59bbea2d6413dc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "bde5ac217bb0fab2",
        "type": "debug",
        "z": "c81e719f432c190e",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 500,
        "wires": []
    },
    {
        "id": "a225d22237f6ed43",
        "type": "tcp request",
        "z": "c81e719f432c190e",
        "name": "",
        "server": "3.122.56.39",
        "port": "8081",
        "out": "time",
        "ret": "buffer",
        "splitc": "0",
        "newline": "",
        "trim": false,
        "tls": "",
        "x": 560,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "3bd96114db337807",
        "type": "debug",
        "z": "c81e719f432c190e",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 80,
        "wires": []
    },
    {
        "id": "3230ca45213f283c",
        "type": "tcp in",
        "z": "c81e719f432c190e",
        "name": "",
        "server": "client",
        "host": "127.0.0.1",
        "port": "8081",
        "datamode": "single",
        "datatype": "buffer",
        "newline": "",
        "topic": "",
        "trim": false,
        "base64": false,
        "tls": "",
        "x": 170,
        "y": 500,
        "wires": [
            [
                "bde5ac217bb0fab2"
            ]
        ]
    }
]