node_red_data/flows.json
[
    {
        "id": "048a54a5fe2acbd7",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c81e719f432c190e",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ef6e1a8cac1f19cb",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f5d335cee05e155f",
        "type": "socketio-config",
        "uri": "wss://mqtt-parser.omnivoltaic.com",
        "options": "{ \"forceNew\": true }"
    },
    {
        "id": "e02efec82eddcb99",
        "type": "socket.io-instance",
        "name": "wss://mqtt-parser.omnivoltaic.com",
        "bindToNode": false,
        "port": "3000",
        "options": ""
    },
    {
        "id": "7acfbe08bc9301c5",
        "type": "websocket-client",
        "path": "wss://mqtt-parser.omnivoltaic.com",
        "tls": "",
        "wholemsg": "false",
        "hb": "0",
        "subprotocol": ""
    },
    {
        "id": "0175ac081941797b",
        "type": "websocket-client",
        "path": "localhost:8022",
        "tls": "",
        "wholemsg": "false",
        "hb": "0",
        "subprotocol": ""
    },
    {
        "id": "6e59bbea2d6413dc",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt-factory.omnivoltaic.com",
        "port": "18883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d4bc9b947947af0d",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt-2.omnivoltaic.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ab27e2db54fdc520",
        "type": "debug",
        "z": "048a54a5fe2acbd7",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 140,
        "wires": []
    },
    {
        "id": "875331833f93a8d4",
        "type": "websocket out",
        "z": "048a54a5fe2acbd7",
        "name": "",
        "server": "",
        "client": "7acfbe08bc9301c5",
        "x": 730,
        "y": 240,
        "wires": []
    },
    {
        "id": "aebfd238fa41a1f9",
        "type": "websocket in",
        "z": "048a54a5fe2acbd7",
        "name": "",
        "server": "",
        "client": "7acfbe08bc9301c5",
        "x": 250,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "07a1c891b8d0bf2a",
        "type": "socketio-listener",
        "z": "048a54a5fe2acbd7",
        "server": "f5d335cee05e155f",
        "eventname": "message",
        "name": "",
        "x": 200,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "7f3d85a9e3533faa",
        "type": "inject",
        "z": "048a54a5fe2acbd7",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "payload": "{\"att\":{\"opid\":\"42AH2302000002\",\"ppid\":\"42AH2302000002<<<<<<\",\"flid\":\"\",\"frmv\":\"3.3.3\"}}",
        "payloadType": "json",
        "x": 150,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "7df9b950108f0f27",
        "type": "websocket out",
        "z": "048a54a5fe2acbd7",
        "name": "",
        "server": "",
        "client": "0175ac081941797b",
        "x": 710,
        "y": 420,
        "wires": []
    },
    {
        "id": "ed99017484befa22",
        "type": "websocket in",
        "z": "048a54a5fe2acbd7",
        "name": "",
        "server": "",
        "client": "0175ac081941797b",
        "x": 230,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "fe5f75ca81c2152b",
        "type": "tcp out",
        "z": "c81e719f432c190e",
        "name": "",
        "host": "3.66.17.65",
        "port": "8081",
        "beserver": "client",
        "base64": false,
        "end": false,
        "tls": "",
        "x": 500,
        "y": 320,
        "wires": []
    },
    {
        "id": "9f01ee65cc408d0c",
        "type": "inject",
        "z": "c81e719f432c190e",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "{\t   \"alarmList\":[\t       {\t           \"id\":\"02301001\",\t           \"alarmDesc\":\"03\",\t           \"alarmFlag\":0,\t           \"doorId\":\"11\",\t           \"userId\":\"rtwertrtr\",\t           \"batteryId\":\"BT2060020080FLT190728039\",\t           \"alarmTime\":1567601515000+$floor($random()*10)\t       }\t   ],\t   \"msgType\":410,\t   \"devId\":\"CHZD12BTA0190704006\",\t   \"txnNo\":1567601515107\t}",
        "payloadType": "str",
        "x": 150,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "543cf92f6fe00756",
        "type": "inject",
        "z": "c81e719f432c190e",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"alarmList\":[{\"id\":\"02301001\",\"alarmDesc\":\"03\",\"alarmFlag\":0,\"doorId\":\"11\",\"userId\":\"rtwertrtr\",\"batteryId\":\"BT2060020080FLT190728039\",\"alarmTime\":1567601515107}],\"msgType\":410,\"devId\":\"CHZD12BTA0190704006\",\"txnNo\":1567601515107}",
        "payloadType": "str",
        "x": 170,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "c7cb1516d4265afa",
        "type": "mqtt out",
        "z": "c81e719f432c190e",
        "name": "",
        "topic": "cmd/oves",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6e59bbea2d6413dc",
        "x": 460,
        "y": 80,
        "wires": []
    },
    {
        "id": "bbec47beebd09eb0",
        "type": "tcp in",
        "z": "c81e719f432c190e",
        "name": "",
        "server": "client",
        "host": "3.66.17.65",
        "port": "8081",
        "datamode": "single",
        "datatype": "buffer",
        "newline": "",
        "topic": "",
        "trim": false,
        "base64": false,
        "tls": "",
        "x": 170,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "e2ad32518353e91c",
        "type": "mqtt out",
        "z": "c81e719f432c190e",
        "name": "",
        "topic": "dt/oves",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6e59bbea2d6413dc",
        "x": 600,
        "y": 200,
        "wires": []
    },
    {
        "id": "e0d92db13b954496",
        "type": "mqtt in",
        "z": "c81e719f432c190e",
        "name": "",
        "topic": "cmd/oves",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6e59bbea2d6413dc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "bde5ac217bb0fab2",
        "type": "debug",
        "z": "c81e719f432c190e",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 500,
        "wires": []
    },
    {
        "id": "a225d22237f6ed43",
        "type": "tcp request",
        "z": "c81e719f432c190e",
        "name": "",
        "server": "3.122.56.39",
        "port": "8081",
        "out": "time",
        "ret": "buffer",
        "splitc": "0",
        "newline": "",
        "trim": false,
        "tls": "",
        "x": 560,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "3bd96114db337807",
        "type": "debug",
        "z": "c81e719f432c190e",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 80,
        "wires": []
    },
    {
        "id": "3230ca45213f283c",
        "type": "tcp in",
        "z": "c81e719f432c190e",
        "name": "",
        "server": "client",
        "host": "127.0.0.1",
        "port": "8081",
        "datamode": "single",
        "datatype": "buffer",
        "newline": "",
        "topic": "",
        "trim": false,
        "base64": false,
        "tls": "",
        "x": 170,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "90fca14d402559b3",
        "type": "inject",
        "z": "ef6e1a8cac1f19cb",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "{\t    \"att\": {\t        \"opid\": \"48AH2207006090\",\t        \"ppid\": \"48AH2207006090<<<<<<\",\t        \"flid\": \"\",\t        \"frmv\": \"3.3.3\"\t    },\t    \"cmd\": {\t        \"pubk\": \"*013 220 698 041 684 871 144#\",\t        \"gstw\": 5,\t        \"gctw\": 2,\t        \"napn\": \"orange.m2m.spec\",\t        \"swch\": 0,\t        \"read\": 0,\t        \"rptm\": 0,\t        \"hbfq\": 1\t    },\t    \"sts\": {\t        \"sstc\": 256,\t        \"crtm\": \"\",\t        \"udtm\": \"\",\t        \"time\": \"\",\t        \"plat\": -1.676905,\t        \"plon\": 29.204065,\t        \"gpss\": 20,\t        \"gpfc\": 144,\t        \"rcrd\": 1096,\t        \"trhd\": 10+$floor($random()*1000),\t        \"tpgd\": 10+$floor($random()*1000),\t        \"pgst\": 1,\t        \"tkre\": 10+$floor($random()*1000),\t        \"ocst\": 1\t    },\t    \"dta\": {\t        \"batp\": 10+$floor($random()*1000),\t        \"inpp\": 10+$floor($random()*1000),\t        \"outp\": 10+$floor($random()*1000),\t        \"aeng\": 10+$floor($random()*1000),\t        \"pckv\": 10+$floor($random()*1000),\t        \"pckc\": 10+$floor($random()*1000),\t        \"rsoc\": 10+$floor($random()*1000),\t        \"rcap\": 10+$floor($random()*1000),\t        \"fccp\": 10+$floor($random()*1000),\t        \"pckt\": 10+$floor($random()*1000),\t        \"slon\": 1.345,\t        \"slat\": 1.909,\t        \"salt\": 0,\t        \"sstm\": \" \",\t        \"sgps\": 0,\t        \"sspe\": 0\t    },\t    \"dia\": {\t        \"cv01\": 10+$floor($random()*1000),\t        \"cv02\": 10+$floor($random()*1000),\t        \"cv03\": 10+$floor($random()*1000),\t        \"cv04\": 10+$floor($random()*1000),\t        \"cv05\": 10+$floor($random()*1000),\t        \"cv06\": 10+$floor($random()*1000),\t        \"cv07\": 10+$floor($random()*1000),\t        \"cv08\": 10+$floor($random()*1000),\t        \"cv09\": 10+$floor($random()*1000),\t        \"cv10\": 10+$floor($random()*1000),\t        \"cv11\": 10+$floor($random()*1000),\t        \"cv12\": 10+$floor($random()*1000),\t        \"cv13\": 10+$floor($random()*1000),\t        \"cv14\": 10+$floor($random()*1000),\t        \"cv15\": 10+$floor($random()*1000),\t        \"cv16\": 10+$floor($random()*1000),\t        \"cv17\": 10+$floor($random()*1000),\t        \"cv18\": 10+$floor($random()*1000),\t        \"cv19\": 10+$floor($random()*1000),\t        \"cv20\": 10+$floor($random()*1000)\t    }\t}",
        "payloadType": "jsonata",
        "x": 170,
        "y": 180,
        "wires": [
            [
                "c123c4a59d38a009"
            ]
        ]
    },
    {
        "id": "c123c4a59d38a009",
        "type": "mqtt out",
        "z": "ef6e1a8cac1f19cb",
        "name": "",
        "topic": "dt/alex/test",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d4bc9b947947af0d",
        "x": 510,
        "y": 160,
        "wires": []
    },
    {
        "id": "eaa662aa7cb96b25",
        "type": "inject",
        "z": "ef6e1a8cac1f19cb",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"alarmList\":[{\"id\":\"02301001\",\"alarmDesc\":\"03\",\"alarmFlag\":0,\"doorId\":\"11\",\"userId\":\"rtwertrtr\",\"batteryId\":\"BT2060020080FLT190728039\",\"alarmTime\":156700000000}],\"msgType\":410,\"devId\":\"ALEX1\",\"txnNo\":1567601515107}",
        "payloadType": "str",
        "x": 250,
        "y": 420,
        "wires": [
            [
                "66b909e9f59f86cb"
            ]
        ]
    },
    {
        "id": "66b909e9f59f86cb",
        "type": "tcp out",
        "z": "ef6e1a8cac1f19cb",
        "name": "",
        "host": "18.194.209.3",
        "port": "8081",
        "beserver": "client",
        "base64": false,
        "end": false,
        "tls": "",
        "x": 620,
        "y": 400,
        "wires": []
    }
]